altgraph==0.17.5
certifi==2026.2.25
charset-normalizer==3.4.7
idna==3.11
packaging==26.0
pefile==2024.8.26
pillow==12.2.0
pip==24.3.1
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
pystray==0.19.5
pywin32==311
pywin32-ctypes==0.2.3
requests==2.33.1
setuptools==82.0.1
six==1.17.0
urllib3==2.6.3
windnd==1.0.7
